{% extends "base.html" %}

{% block title %}Explore | Music Madness{% endblock %}

{% block content %}

<!-- Hero -->
<section class="container py-5">
    <div class="explore-hero text-center p-4 p-md-5 mb-4">
        <h1 class="explore-hero__title">Explore Albums</h1>
        <p class="explore-hero_sub">Discover legendary releases, trending discussions and albums across various genre's.</p>
        <p class="explore-hero_meta">{{ album_count }} albums • 0 discussions</p>
    </div>
</section>

<!-- Trending in the pit -->




{% endblock %}