{% extends "base.html" %}

{% block title %}Home | Music Madness{% endblock %}

{% block content %}
<section class="container py-5">

    <!-- HERO -->
    <div class="hero-card text-center p-5 mb-5">
        <h1>Where Metalheads Rate The Riffs.</h1>
        <p>Discover brutal albums, debate the best releases, and leave your mark on the metal community.</p>
        <div class="mt-4">
            <a href="#" class="btn btn-primary me-3">Join the pit</a>
            <a href="#" class="btn btn-secondary">Explore Albums</a>
        </div>
    </div>

</section>
{% endblock %}