{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Madness</title>


<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<!-- bootstrap link -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<!-- style.css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="d-flex flex-column h-100 main-bg">
    <!-- Navbar -->
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Music Madness</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
              </ul>
        </div>
    </div>
</nav>

    <!-- content -->
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Main content goes here -->
        {% endblock content %}
    </main>


    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p>
            Music Madness
        </p>
        <p>
            A community for metalheads to rate, debate and review albums
        </p>
        <ul>
            <li>About</li>
            <li>Genres</li>
            <li>Login</li>
        </ul>
    </footer>
    <!-- bootstrap script -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> 

   <!-- script.js -->
    <script src="../static/js/script.js"></script>

</body>
</html>